@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 220 13% 5%;
    --foreground: 210 11% 91%;
    --card: 220 16% 8%;
    --card-foreground: 210 11% 91%;
    --popover: 220 16% 8%;
    --popover-foreground: 210 11% 91%;
    --primary: 190 100% 72%;
    --primary-foreground: 220 13% 5%;
    --secondary: 220 16% 12%;
    --secondary-foreground: 210 11% 91%;
    --muted: 220 16% 15%;
    --muted-foreground: 220 10% 45%;
    --accent: 278 86% 64%;
    --accent-foreground: 210 11% 91%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 11% 91%;
    --border: 220 16% 15%;
    --input: 220 16% 15%;
    --ring: 190 100% 72%;
    --chart-1: 190 100% 72%;
    --chart-2: 278 86% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 220 13% 5%;
    --sidebar-foreground: 210 11% 91%;
    --sidebar-primary: 190 100% 72%;
    --sidebar-primary-foreground: 220 13% 5%;
    --sidebar-accent: 220 16% 10%;
    --sidebar-accent-foreground: 190 100% 72%;
    --sidebar-border: 220 16% 15%;
    --sidebar-ring: 190 100% 72%;
  }

  .dark {
    --background: 220 13% 5%;
    --foreground: 210 11% 91%;
    --card: 220 16% 8%;
    --card-foreground: 210 11% 91%;
    --popover: 220 16% 8%;
    --popover-foreground: 210 11% 91%;
    --primary: 190 100% 72%;
    --primary-foreground: 220 13% 5%;
    --secondary: 220 16% 12%;
    --secondary-foreground: 210 11% 91%;
    --muted: 220 16% 15%;
    --muted-foreground: 220 10% 45%;
    --accent: 278 86% 64%;
    --accent-foreground: 210 11% 91%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 11% 91%;
    --border: 220 16% 15%;
    --input: 220 16% 15%;
    --ring: 190 100% 72%;
    --chart-1: 190 100% 72%;
    --chart-2: 278 86% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 220 13% 5%;
    --sidebar-foreground: 210 11% 91%;
    --sidebar-primary: 190 100% 72%;
    --sidebar-primary-foreground: 220 13% 5%;
    --sidebar-accent: 220 16% 10%;
    --sidebar-accent-foreground: 190 100% 72%;
    --sidebar-border: 220 16% 15%;
    --sidebar-ring: 190 100% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
